meta(property='fb:app_id', content=nconf.get('FB_APPID'))
meta(property='og:image', content=nconf.get('FB_OG_IMAGE'))
meta(property='og:title', content=nconf.get('FB_OG_TITLE'))
meta(property='og:url', content=nconf.get('FB_OG_URL'))
meta(property='og:site_name', content=nconf.get('FB_OG_SITENAME'))
meta(property='og:type', content=nconf.get('FB_OG_TYPE'))