doctype html
html(lang='cs')
  head
    meta(charset='utf-8')
    title #UkradnuTiData

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    include ./includes/og-meta-tags.pug

    link(rel='apple-touch-icon', sizes='180x180', href='/public/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/public/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/public/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/public/favicon/manifest.json')
    link(rel='mask-icon', href='/public/favicon/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='/public/favicon/favicon.ico')
    meta(name='msapplication-config', content='/public/favicon/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')


    link(rel="stylesheet", href="/public/bower_components/animate.css/animate.min.css")
    link(rel="stylesheet", href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/public/styles/main.css')
    link(rel='stylesheet', href='/public/styles/icons.css')
  body
    section.login
        .v-table: .v-cell
            div.logo-wrapper
                .logo
                h1 #UkradnuTiData
            button(data-fb-href=fbUrl) facebook
    script(src='/public/bower_components/jquery/dist/jquery.min.js')
    script(src='/public/scripts/main.js')