@import 'https://fonts.googleapis.com/css?family=Raleway:400,700,800&subset=latin-ext';

html, body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.v-table {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.v-table .v-cell {
    display: table-cell;
    vertical-align: middle;
}

section.login, section.user {
    width: 100%;
    height: 100%;
}

section.login .logo {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto 0;
    max-width: 100%;
}

section.login h1 {
    font-weight: 700;
    color: #3b5998;
    margin: 20px auto 50px;
}

section.login button {
    border: none;
    outline: none;
    background-color: #3b5998;
    color: #fff;
    width: 300px;
    padding: 10px 0;
    font-size: 30px;
    font-weight: 700;
    border-bottom: solid 5px #2b4270;
    -webkit-transition: border linear 50ms, transform linear 50ms, margin linear 50ms;
    -moz-transition: border linear 50ms, transform linear 50ms, margin linear 50ms;
    transition: border linear 50ms, transform linear 50ms, margin linear 50ms;
}

section.login button:active {
    border-bottom-width: 0;
    margin-top: 5px;
    transform: translateY(5px);
}

h2 {
    font-weight: 700;
    color: #3b5998;
    margin: 20px auto 20px;
}

header {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

header .logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 0;
    max-width: 100%;
}

header h1 {
    font-size: 18px;
    font-weight: 700;
    color: #3b5998;
    margin: 20px auto;
}

h2 small {
    color: #3b5998;
    font-size: 14px;
    font-weight: 600;
}